.App {
  text-align: center;
  background-color: #678;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.movies {
  display: inline-flex;
  flex-wrap: wrap;
}

img {
  max-width: 150px;
}

.search-label {
  font-size: larger;
  font-weight: bolder;
}

.one_movie {
  background-color: darkgray;
  padding:0;
  margin: 5px;
  border: black solid 2px;
  border-radius: 5px;
}

.movie-title {
  margin: 0;
  max-height: 40px;
  min-height: 40px;
  inline-size: 150px;
}

.search-bar {
  padding-top: 15px;
  min-height: 60px;
}